<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  import { currentUser } from "../../stores/user";
  import { talks } from "../../lib/db";
  import FormTalk from "./formTalk.svelte";

  export let isLarge = false;
  let showModal = false;
  let isLoading = false;
  let thisTalk;

  function blankTalk() {
    thisTalk = {
      title: "",
      icon: "",
      tagline: "",
      abstract: "",
      status: "",
    };
  }

  function addIt(event) {
    isLoading = true;
    const newTalk = event.detail;
    talks.add($currentUser, { ...newTalk }).then((response) => {
      setTimeout(() => {
        isLoading = false;
        showModal = false;
        dispatch("added");
        blankTalk();
      }, 500);
    });
  }

  blankTalk();
</script>

<button
  class="button level-item is-dark {isLarge ? 'is-large' : ''}"
  on:click="{() => (showModal = true)}"
>
  <span class="icon is-small"><i class="fas fa-plus"></i></span>
  <span>Talk</span>
</button>

<div class="modal {showModal ? 'is-active' : ''}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Talk</p>
      <button
        class="delete"
        aria-label="close"
        on:click="{() => (showModal = false)}"></button>
    </header>
    <section class="modal-card-body">
      <FormTalk
        thisTalk="{thisTalk}"
        isLoading="{isLoading}"
        btnSaveText="Add"
        showCancel="{true}"
        on:cancel="{() => (showModal = false)}"
        on:save="{addIt}"
      />
    </section>
  </div>
</div>
