<script>
  import { currentUser } from "../../stores/user";
  import { talks } from "../../lib/db";

  import Loading from "../../components/loading.svelte";
  import CfpHeader from "../../components/cfps/cfpHeader.svelte";
  import TalkList from "../../components/talks/talkList.svelte";
  import Breadcrumbs from "../../components/breadcrumbs.svelte";

  let myTalks = [],
    isLoading = true;

  function loadTalks() {
    isLoading = true;

    talks.getAll($currentUser).then((ret) => {
      myTalks = ret;
      myTalks = talks.sortList(myTalks, "title");
      myTalks = myTalks.filter((e) => e.data.status === "Draft");
      setTimeout(() => {
        isLoading = false;
      }, 400);
    });
  }

  loadTalks();
</script>

<Breadcrumbs
  crumbs="{[
    { name: 'Talk Abstract Dashboard', link: '/home/talks/' },
    { name: 'Draft Abstracts' },
  ]}"
/>

<div class="container">
  <div class="box">
    <CfpHeader
      headerText="Draft Talk Abstracts"
      showAddButtons="{false}"
      on:talkAdded="{loadTalks}"
    />
    {#if isLoading}
      <Loading />
    {:else}
      <TalkList myTalks="{myTalks}" />
    {/if}
  </div>
</div>
