<script>
  import { Link, navigate } from "svelte-navigator";

  import CfpHeader from "../../components/cfps/cfpHeader.svelte";
  import EmptyState from "../../components/emptyState.svelte";
  import Loading from "../../components/loading.svelte";
  import LoadingSpin from "../../components/loadingSpin.svelte";
  import TalkList from "../../components/talks/talkList.svelte";
  import * as db from "../../lib/db";
  import { talkStatusLookup } from "../../stores/enums";
  import { currentUser } from "../../stores/user";

  let myTalks = [],
    publishedTalks = [],
    draftTalks = [],
    stats = {},
    isLoadingShort = true,
    shortCode = "",
    isLoading = true;

  function loadTalks() {
    isLoading = true;

    db.talks.getAll($currentUser).then((ret) => {
      myTalks = ret;
      myTalks = db.utils.sortList(myTalks, "title");

      publishedTalks = myTalks.filter((e) => e.data.published);
      publishedTalks = db.utils.sortList(publishedTalks, "order");
      draftTalks = myTalks.filter((e) => e.data.status === "Draft");
      setTimeout(() => {
        isLoading = false;
      }, 400);
    });
  }

  async function loadShortCode() {
    shortCode = await db.users.getShortCode($currentUser);
    setTimeout(() => {
      isLoadingShort = false;
    }, 400);
  }

  loadTalks();
  loadShortCode();
</script>

<div class="container-fluid">
  <div class="box">
    <CfpHeader
      headerText="Talk Abstract Dashboard"
      showAddButtons="{true}"
      on:talkAdded="{loadTalks}"
    />
  </div>

  <section class="my-5">
    <div class="tile is-ancestor has-text-centered">
      <div
        class="tile is-parent is-clickable"
        on:click="{() => navigate('/home/talks/drafts')}"
      >
        <article class="tile is-child box">
          <p class="title">
            {#if isLoading}
              <LoadingSpin />
            {:else}
              {draftTalks.length}
            {/if}
          </p>
          <p class="subtitle">
            {talkStatusLookup("Draft").icon}
            {talkStatusLookup("Draft").text}
          </p>
        </article>
      </div>

      <div
        class="tile is-parent is-clickable"
        on:click="{() => navigate('/home/talks/published')}"
      >
        <article class="tile is-child box">
          <p class="title">
            {#if isLoading}
              <LoadingSpin />
            {:else}
              {publishedTalks.length}
            {/if}
          </p>
          <p class="subtitle">✅ Published</p>
        </article>
      </div>

      <div
        class="tile is-parent is-clickable"
        on:click="{() => navigate('/home/talks/all')}"
      >
        <article class="tile is-child box">
          <p class="title">
            {#if isLoading}
              <LoadingSpin />
            {:else}
              {myTalks.length}
            {/if}
          </p>
          <p class="subtitle">Total Talks</p>
        </article>
      </div>
    </div>
  </section>

  <div class="box">
    <h2 class="is-size-4">Drafts</h2>
    {#if isLoading}
      <Loading />
    {:else if draftTalks.length === 0}
      <EmptyState>No talks in Draft status</EmptyState>
    {:else}
      <TalkList myTalks="{draftTalks}" />
    {/if}
  </div>

  <div class="box">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h2 class="is-size-4">Published Abstracts</h2>
        </div>
      </div>
      <div class="level-right">
        {#if isLoadingShort}
          <div class="level-item">
            <p class="is-size-6 has-text-info">
              Loading...
              <LoadingSpin />
            </p>
          </div>
        {:else}
          {#if shortCode}
            <div class="level-item mx-3">
              <p>
                Publically available on <br />
                <a href="{`https://cfps.dev/u/${shortCode}/`}" target="_blank">
                  <code>cfps.dev/u/{shortCode}</code>
                </a>
              </p>
            </div>
          {:else}
            <div class="level-tiem mx-3">
              <p class="is-size-6">
                To set your public talk URL, visit your profile:
              </p>
            </div>
          {/if}

          <div class="level-item">
            <Link to="/profile" class="button is-outlined is-small">
              <span class="icon">
                <i class="fas fa-cog"></i>
              </span>
            </Link>
          </div>

          {#if shortCode}
            <div class="level-item">
              <a
                href="{`https://cfps.dev/u/${shortCode}/`}"
                class="button is-outlined is-link is-small"
                target="_blank"
              >
                <span class="icon">
                  <i class="fas fa-external-link-square-alt"></i>
                </span>
              </a>
            </div>
          {/if}
        {/if}
      </div>
    </nav>

    {#if isLoading}
      <Loading />
    {:else if publishedTalks.length === 0}
      <EmptyState>No publically published talks yet</EmptyState>
    {:else}
      <TalkList myTalks="{publishedTalks}" />
    {/if}
  </div>

  <div class="box">
    <h2 class="is-size-4">All Talk Abstracts</h2>
    {#if isLoading}
      <Loading />
    {:else if myTalks.length === 0}
      <EmptyState>No talk abstracts yet</EmptyState>
    {:else}
      <TalkList myTalks="{myTalks}" />
    {/if}
  </div>
</div>
