@charset "utf-8";

$danger: #db3b21;
$orange: #fc6d26;
$warning: #fca121;
$pink: #fa7c91;
$footer-padding: 2rem 2rem 2rem;

@import "../../node_modules/bulma/bulma.sass";

@import "../../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass";

.select:not(.is-multiple):not(.is-loading)::after {
  z-index: 1;
}

.modal-form {
  min-width: 50%;
}

footer.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 8rem;
  background-color: $white-ter !important;
}

.media-fixed {
  height: 58px;
}

.card-content-fixed {
  height: 210px;
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
}

.card-content-scrollable {
  height: 210px;
  overflow-y: auto;
}

.card-content.talk {
  padding: 1rem;
}

.media-icon {
  margin-right: 0;
}
