<script>
  import * as db from "../../lib/db";
  import { sortList } from "../../lib/db/cfps";
  import TalkCard from "../../components/talks/talkCard.svelte";
  import EmptyState from "../../components/emptyState.svelte";
  import LoadingSpin from "../../components/loadingSpin.svelte";
  import Loading from "../../components/loading.svelte";
  import { getTalkAbstractSafe } from "../../lib/talkUtils";

  let theseTalks = [];
  let isLoading = true;
  // #25: Customize header text.  User's name?
  let headerText = "My Talks";
  export let shortCode;
  export let showHeader = true;

  // #14: Catch errors
  function loadTalks() {
    db.talks.getPublic(shortCode).then((res) => {
      theseTalks = res;
      theseTalks = sortList(theseTalks, "order");
      theseTalks.forEach((t) => {
        let talkAbstract = getTalkAbstractSafe({ data: t.data });
        t.data.talkAbstract = talkAbstract;
      });
      console.log(theseTalks);
      setTimeout(() => {
        isLoading = false;
      }, 250);
    });
  }

  loadTalks();
</script>

<div class="container">
  {#if showHeader}
    <div class="box">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="is-size-3">{headerText}</h2>
          </div>
        </div>
      </nav>
    </div>
  {/if}

  {#if theseTalks.length > 0}
    <div class="columns is-multiline">
      {#each theseTalks as talk}
        <div class="column is-one-third">
          <TalkCard thisTalk="{talk}" shortCode="{shortCode}" />
        </div>
      {/each}
    </div>
  {:else if isLoading}
    <Loading />
  {:else if theseTalks.message}
    <EmptyState>
      {theseTalks.message}
    </EmptyState>
  {:else}
    <EmptyState>This user hasn't published any talks yet.</EmptyState>
  {/if}
</div>
