<script>
  export let photographer;
</script>

{#if photographer}
  Photo by
  <a
    href="{`${photographer.href}?utm_source=CFPs.dev&utm_medium=referral`}"
    target="_blank"
  >
    {photographer.name}
  </a>
  on
  <a
    href="https://unsplash.com/?utm_source=CFPs.dev&utm_medium=referral"
    target="_blank"
  >
    Unsplash
  </a>
{:else}
  Photo from
  <a
    href="https://unsplash.com/?utm_source=CFPs.dev&utm_medium=referral"
    target="_blank"
  >
    Unsplash
  </a>
{/if}
