<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  import * as unsplash from "../../lib/unsplash";
  import { currentUser } from "../../stores/user";
  import UnplashPhotographer from "./unsplashPhotographer.svelte";

  let unsplashSearchStr;
  let showModal = false;
  let searchResults = {};
  export let unsplashImg;
  export let photographer;

  function searchU() {
    console.log(unsplashSearchStr);
    unsplash.search(unsplashSearchStr, $currentUser).then((val) => {
      searchResults = val;
      searchResults.results.pop();
      console.log(searchResults);
      showModal = true;
    });
  }

  function saveImage(img) {
    unsplashImg = img.urls.regular;
    showModal = false;
    unsplash.select(img.id, $currentUser);
    dispatch("imageSet", {
      unsplashImg,
      photographer: {
        name: img.user.name,
        href: img.user.links.html,
      },
    });
  }
</script>

<div class="field">
  <div class="control">
    <label class="label" for="unsplash">Search Unsplash</label>
    <div class="field is-grouped">
      <div class="field">
        <p class="control is-expanded">
          <input
            class="input"
            type="text"
            placeholder="Find a cover image"
            bind:value="{unsplashSearchStr}"
          />
        </p>
        <p class="help">
          {#if unsplashImg}
            <UnplashPhotographer photographer="{photographer}" />
          {/if}
        </p>
      </div>
      <div class="field ml-2">
        <p class="control">
          <button class="button is-info" on:click="{() => searchU()}">
            Search
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal {showModal ? 'is-active' : ''}">
  <div class="modal-background"></div>
  <div class="modal-card modal-form">
    <header class="modal-card-head">
      <p class="modal-card-title">Select Unsplash Image</p>
      <button
        class="delete"
        aria-label="close"
        on:click="{() => (showModal = false)}"></button>
    </header>
    <section class="modal-card-body">
      <div class="is-flex is-flex-wrap-wrap">
        {#if searchResults.results}
          {#each searchResults.results as img}
            <div class="is-flex-grow-1 px-3 py-3" style="width: 33%;">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="{img.urls.regular}" alt="{img.alt_description}" />
                  </figure>
                </div>
                <footer class="card-footer">
                  <button
                    on:click="{() => saveImage(img)}"
                    class="card-footer-item button is-info"
                  >
                    Select
                  </button>
                </footer>
              </div>
            </div>
          {/each}
        {/if}
      </div>
    </section>
  </div>
</div>
