<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  import { currentUser } from "../../stores/user";
  import { teams } from "../../lib/db";

  export let isLarge = false;
  let showModal = false;
  let isLoading = false;
  let thisTeam;

  function blankTeam() {
    thisTeam = {
      teamname: "",
    };
  }

  function addIt() {
    isLoading = true;
    teams.add($currentUser, { ...thisTeam }).then((response) => {
      setTimeout(() => {
        isLoading = false;
        showModal = false;
        dispatch("added");
        blankTeam();
      }, 500);
    });
    // #14: Catch errors
  }

  blankTeam();
</script>

<button
  class="button level-item is-info {isLarge ? 'is-large' : ''}"
  on:click="{() => (showModal = true)}"
>
  Add New Team
</button>

<div class="modal {showModal ? 'is-active' : ''}">
  <div class="modal-background"></div>
  <div class="modal-card modal-form">
    <header class="modal-card-head">
      <p class="modal-card-title">Add New Team</p>
      <button
        class="delete"
        aria-label="close"
        on:click="{() => (showModal = false)}"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label" for="txtTeamName">Team Name</label>
        <div class="control">
          <input
            class="input"
            id="txtTeamName"
            type="text"
            placeholder="Team Name"
            bind:value="{thisTeam.teamname}"
            disabled="{isLoading}"
          />
        </div>
      </div>
      <button
        class="button control is-success {isLoading ? 'is-loading' : ''}"
        on:click="{() => addIt()}"
      >
        Add
      </button>
    </section>
  </div>
</div>
