<script>
  import { currentUser } from "../../stores/user";
  import { cfps } from "../../lib/db";

  import Loading from "../../components/loading.svelte";
  import CfpList from "../../components/cfps/cfpList.svelte";
  import CfpHeader from "../../components/cfps/cfpHeader.svelte";

  export let showAddButtons = true;
  let myCFPs = [],
    isLoading = true;

  function loadCFPs() {
    isLoading = true;

    cfps.getAll($currentUser).then((ret) => {
      myCFPs = ret;
      myCFPs = cfps.sortList(myCFPs, "duedate");
      setTimeout(() => {
        isLoading = false;
      }, 400);
    });
    // #14: Catch errors
  }

  loadCFPs();
</script>

<div class="container">
  <div class="box">
    <CfpHeader showAddButtons="{showAddButtons}" on:cfpAdded="{loadCFPs}" />
    {#if isLoading}
      <Loading />
    {:else}
      <CfpList
        myCFPs="{myCFPs}"
        showColumns="{[
          'event',
          'duedate',
          'attendance',
          'cfpstatus',
          'location',
        ]}"
      />
    {/if}
  </div>
</div>
