<script>
  import { Router, Route } from "svelte-navigator";

  import HomeNav from "../components/nav/HomeNav.svelte";

  import CfpsDash from "./cfps/cfpsDash.svelte";
  import EditCfp from "./cfps/cfpEdit.svelte";
  import AllCfps from "./cfps/cfpsAll.svelte";
  import DueCfps from "./cfps/cfpsDue.svelte";
  import CfpsPlanned from "./cfps/cfpsPlanned.svelte";
  import CfpsSubmitted from "./cfps/cfpsSubmitted.svelte";
  import CfpsAccepted from "./cfps/cfpsAccepted.svelte";

  import EventsDash from "./events/eventsDash.svelte";
  import EventsUpcoming from "./events/eventsUpcoming.svelte";
  import EventsAll from "./events/eventsAll.svelte";
  import EventsPast from "./events/eventsPast.svelte";

  import TalksDash from "./talks/talksDash.svelte";
  import TalksDrafts from "./talks/talksDrafts.svelte";
  import TalksAll from "./talks/talksAll.svelte";
  import EditTalk from "./talks/talkEdit.svelte";
  import TalksPublished from "./talks/talksPublished.svelte";

  import TeamsHome from "./teams/teamsHome.svelte";
</script>

<div class="container mt-4">
  <div class="columns">
    <div class="column is-3 ">
      <HomeNav />
    </div>
    <div class="column is-9 my-3">
      <div class="container is-fluid">
        <Router primary="{false}">
          <!-- CFPs -->
          <Route path="">
            <CfpsDash />
          </Route>

          <Route path="due">
            <DueCfps />
          </Route>

          <Route path="planned">
            <CfpsPlanned />
          </Route>

          <Route path="submitted">
            <CfpsSubmitted />
          </Route>

          <Route path="accepted">
            <CfpsAccepted />
          </Route>

          <Route path="all">
            <AllCfps />
          </Route>

          <Route path="teams">
            <TeamsHome />
          </Route>

          <Route path="teams/cfps">
            <h1>TODO: Trucks team CFPs</h1>
          </Route>

          <Route path="event/:id" let:params>
            <EditCfp thisId="{params.id}" />
          </Route>

          <!-- Events -->
          <Route path="events">
            <EventsDash />
          </Route>

          <Route path="events/upcoming">
            <EventsUpcoming />
          </Route>

          <Route path="events/past">
            <EventsPast />
          </Route>

          <Route path="events/all">
            <EventsAll />
          </Route>

          <!-- Talks -->
          <Route path="talks">
            <TalksDash />
          </Route>

          <Route path="talk/:id" let:params>
            <EditTalk thisId="{params.id}" />
          </Route>

          <Route path="talks/drafts">
            <TalksDrafts />
          </Route>

          <Route path="talks/published">
            <TalksPublished />
          </Route>

          <Route path="talks/all">
            <TalksAll />
          </Route>
        </Router>
      </div>
    </div>
  </div>
</div>
