<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  import { Link } from "svelte-navigator";

  import * as db from "../../lib/db";
  import { currentUser } from "../../stores/user";
  import { talkStatusLookup, cfpStatusOpts } from "../../stores/enums";

  import EmptyState from "../emptyState.svelte";
  import Loading from "../loading.svelte";

  export let thisCFP, isLoading;
  let talksLoading = true,
    myTalks,
    selTalks,
    addTalk;

  function loadTalks() {
    talksLoading = true;
    db.talks
      .getAll($currentUser)
      .then((val) => {
        myTalks = val;
        selTalks = myTalks.filter((e) => {
          return !thisCFP.submissions?.find(
            (x) => x.talkRef === e.ref["@ref"].id
          );
        });
        talksLoading = false;
      })
      .catch((e) => console.error(e));
  }

  function addSub() {
    const newSub = {
      talkRef: addTalk,
      status: "Submitted",
      userId: $currentUser.id,
    };
    if (!thisCFP.submissions) thisCFP.submissions = [];
    thisCFP.submissions.push(newSub);
    dispatch("save", thisCFP);
  }

  function removeSub(index) {
    thisCFP.submissions.splice(index, 1);
    dispatch("save", thisCFP);
  }

  function findTalk(id) {
    return myTalks.find((e) => {
      return e.ref["@ref"].id === id;
    });
  }

  function calulateOverallStatus() {
    let status = "Planned";
    const statuses = thisCFP.submissions.map((x) => x.status);
    if (statuses.includes("Accepted")) {
      status = "Accepted";
    } else if (statuses.includes("Submitted")) {
      status = "Submitted";
    } else if (statuses.includes("Planned")) {
      status = "Planned";
    } else if (statuses.includes("Rejected")) {
      status = "Rejected";
    }
    thisCFP.cfpstatus = status;
  }

  loadTalks();
</script>

<div class="field is-grouped">
  <div class="control">
    <label class="label" for="selCFPStatus">CFP Status</label>
    <div class="select" id="selCFPStatus">
      <select bind:value="{thisCFP.cfpstatus}" disabled="{isLoading}">
        <option value=""></option>
        {#each cfpStatusOpts as opt}
          <option value="{opt.value}">
            {opt.icon} &nbsp; {opt.text}
          </option>
        {/each}
      </select>
    </div>
  </div>
  <!-- svelte-ignore a11y-label-has-associated-control -->
  <div class="control">
    <label class="label">&nbsp;</label>
    <button
      class="button control is-success {isLoading || talksLoading
        ? 'is-loading'
        : ''}"
      on:click="{() => dispatch('save', thisCFP)}"
    >
      Save
    </button>
  </div>
</div>

<hr />
<h3 class="is-size-4">CFP Submissions</h3>

{#if talksLoading || isLoading}
  <Loading />
{:else if thisCFP.submissions?.length === 0 || !thisCFP.submissions}
  <EmptyState>No CFP submissions yet.</EmptyState>
{:else}
  <table class="table my-2">
    <thead>
      <tr>
        <th>Title</th>
        <th>Abstract Status</th>
        <th>Submission Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {#each thisCFP.submissions as sub, i}
        <tr>
          <td
            style="max-width: 310px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
          >
            <Link to="{`/home/talk/${sub.talkRef}`}">
              {#if findTalk(sub.talkRef).data.icon}
                {findTalk(sub.talkRef).data.icon} &nbsp;
              {/if}
              {findTalk(sub.talkRef).data.title}
            </Link>
          </td>
          <td>
            {#if findTalk(sub.talkRef).data}
              {talkStatusLookup(findTalk(sub.talkRef).data.status).icon}
              &nbsp;
              {talkStatusLookup(findTalk(sub.talkRef).data.status).text}
            {:else}
              <span class="tag"> UNK </span>
            {/if}
          </td>
          <td>
            <div class="control">
              <div
                class="select"
                id="selCFPStatus"
                on:change="{calulateOverallStatus}"
              >
                <select
                  bind:value="{thisCFP.submissions[i].status}"
                  disabled="{isLoading}"
                >
                  <option value=""></option>
                  {#each cfpStatusOpts as opt}
                    <option value="{opt.value}">
                      {opt.icon} &nbsp; {opt.text}
                    </option>
                  {/each}
                </select>
              </div>
            </div>
          </td>
          <td>
            <button
              class="button is-small control is-success {isLoading ||
              talksLoading
                ? 'is-loading'
                : ''}"
              on:click="{() => dispatch('save', thisCFP)}"
            >
              Save
            </button>
            <button
              class="button is-small control is-danger {isLoading ||
              talksLoading
                ? 'is-loading'
                : ''}"
              on:click="{() => removeSub(i)}"
            >
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
{/if}

<hr />
<h4 class="is-size-5">Add Submission</h4>

<div class="field is-grouped my-2">
  <div class="control">
    <div class="select" name="selTalk">
      <select bind:value="{addTalk}">
        <option>Select Abstract</option>
        {#if selTalks?.length > 0}
          {#each selTalks as talk}
            <option value="{talk.ref['@ref'].id}">
              {#if talk.data.icon}
                {talk.data.icon} &nbsp;
              {/if}
              {talk.data.title}
            </option>
          {/each}
        {/if}
      </select>
    </div>
  </div>
  <div class="control">
    <button
      name="btnAdd"
      class="button control is-info {isLoading || talksLoading
        ? 'is-loading'
        : ''}"
      on:click="{addSub}"
    >
      Add
    </button>
  </div>
</div>
