<script>
  import { Link } from "svelte-navigator";

  export let crumbs = [];
</script>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    {#each crumbs as crumb}
      {#if crumb.link}
        <li>
          <Link to="{crumb.link}">{crumb.name}</Link>
        </li>
      {:else}
        <li class="is-active">
          <!-- svelte-ignore a11y-invalid-attribute -->
          <a href="#" aria-current="page">{crumb.name}</a>
        </li>
      {/if}
    {/each}
  </ul>
</nav>
