<div class="box">
  <p class="is-size-3">
    <strong>Welcome to CFPs.dev! 🎉</strong>
  </p>
  <br />
  <div class="notification is-info">
    ✅ &nbsp; Track CFPs you're submitting to
  </div>
  <div class="notification is-info">✅ &nbsp; Manage your event attendance</div>
  <div class="notification is-info">
    ✅ &nbsp; Store abstracts &amp; track acceptance rate
  </div>
</div>
