<script>
  import dayjs from "dayjs";
  import Breadcrumbs from "../../components/breadcrumbs.svelte";

  import CfpList from "../../components/cfps/cfpList.svelte";
  import Loading from "../../components/loading.svelte";
  import { cfps } from "../../lib/db";
  import { currentUser } from "../../stores/user";

  let events = [];
  let isLoading = true;
  export let showBreadcrumbs = true;

  function loadEvents() {
    cfps
      .getAll($currentUser)
      .then((all) => {
        events = all
          .filter((e) => e.data.attendance != "Notattending")
          .filter((e) => e.data.eventstart > dayjs().format("YYYY-MM-DD"));
        events = cfps.sortList(events, "eventstart");
      })
      .catch((e) => console.error(e))
      .finally(() =>
        setTimeout(() => {
          isLoading = false;
        }, 400)
      );
  }

  loadEvents();
</script>

{#if showBreadcrumbs}
  <Breadcrumbs
    crumbs="{[
      { name: 'Event Dashboard', link: '/home/events/' },
      { name: 'Upcoming Events' },
    ]}"
  />
{/if}

<div class="box">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="is-size-3">Upcoming Events</h2>
      </div>
    </div>
  </nav>

  {#if isLoading}
    <Loading />
  {:else if events.length === 0}
    <article class="message">
      <div class="message-body">No events found</div>
    </article>
  {:else}
    <CfpList
      myCFPs="{events}"
      showColumns="{['event', 'eventdates', 'location', 'cfpstatus']}"
    />
  {/if}
</div>
